@font-face {
  font-family: "ClashDisplay, sans-serif";
  src: url("../font/Clash-Display/ClashDisplay-Regular.otf");
}
@font-face {
  font-family: "ClashDisplay-Bold, sans-serif";
  src: url("../font/Clash-Display/ClashDisplay-Bold.otf");
}
@font-face {
  font-family: "ClashDisplay-Medium, sans-serif";
  src: url("../font/Clash-Display/ClashDisplay-Medium.otf");
}

body {
  font-family: "ClashDisplay, sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ClashDisplay-Bold, sans-serif";
}

body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
body::-webkit-scrollbar-thumb {
  background: #2356b0;
}
body::-webkit-scrollbar-track {
  background: #c1daff;
}

.contain-width {
  max-width: 1300px;
  margin: 0 auto;
}

nav.navbar.navbar-expand-sm.bg-dark.navbar-dark {
  background: transparent !important;
  padding: 15px 0;
}
nav.navbar.navbar-expand-sm.bg-dark.navbar-dark a.nav-link {
  color: #7f7f7f;
  font-size: 18px;
  font-weight: 500;
  padding-left: 14px;
  padding-right: 14px;
}
ul.last-menu-list {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
li.last-menu a::before,
.banner-button a::before,
.start-your-journey-buttons button::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 100%;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(96.67deg, #00387b 4.48%, #05196a 100%);
  left: 0;
  top: 0;
}
.start-your-journey-buttons button::before {
  width: 100%;
  height: 0px;
}

li.last-menu a:hover::before,
.banner-button a:hover::before {
  width: 100%;
}
.start-your-journey-buttons button:hover::before {
  width: 100%;
  height: 100%;
}
ul.last-menu-list li a {
  text-decoration: none;
  color: #000;
  white-space: nowrap;
}
li.last-menu a span,
.banner-button a span,
.banner-button a,
.start-your-journey-buttons button span,
.start-your-journey-buttons button {
  position: relative;
}

ul.last-menu-list li {
  margin-left: 30px;
}
li.last-menu a {
  padding: 8px 20px;
  background: #1e55b2;
  border: 1px solid #0054b8;
  border-radius: 4px;
  color: #fff !important;
  display: inline-block;
  position: relative;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 25px;
}
p {
  font-size: 20px;
}

/***header **/

section.header ul.navbar-nav li a,
section.header ul.navbar-nav li a.active {
  position: relative;
}

section.header ul.navbar-nav li a::before,
section.header ul.navbar-nav li a.active::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  transition: all 0.3s ease-in-out;
  background: #1e55b2;
  bottom: 0;
  left: 0;
}

section.header ul.navbar-nav li a:hover::before,
section.header ul.navbar-nav li a.active::before {
  width: 100%;
}

section.header ul.navbar-nav li a:hover,
section.header ul.navbar-nav li a.active {
  color: #0054b8 !important;
}

ul.last-menu-list li.dropdown button {
  background: transparent !important;
  border: none !important;
  color: #000 !important;
}

ul.last-menu-list li.dropdown button:focus {
  background: transparent !important;
}

ul.last-menu-list li.dropdown ul.dropdown-menu.show li {
  margin: 0px;
}

ul.last-menu-list li.dropdown ul.dropdown-menu.show {
  padding: 5px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgb(1 34 115 / 20%);
}

ul.last-menu-list li.dropdown ul.dropdown-menu.show li a {
  padding: 5px 10px;
  display: block;
  border-bottom: 1px solid #ebebeb;
  font-size: 14px;
  font-weight: 500;
}

ul.last-menu-list li.dropdown ul.dropdown-menu.show li:last-child a {
  border-bottom: none;
}

/*** footer **/

section.footer {
  background: linear-gradient(45deg, #0d0d16 30%, #0054b8 100%);
}

section.footer .social-icons {
  display: flex;
  gap: 20px;
  margin: 10px 0 0;
}

section.footer p {
  font-size: 12px;
  color: #fff;
}

section.footer h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

ul.foot-list {
  padding-left: 0px;
  list-style: none;
}

ul.foot-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  padding: 8px 0;
}

section.footer {
  padding: 40px 0 30px;
}

p.foot-para-bottom {
  margin-top: 40px;
  padding-top: 30px;
  border-top: 1px solid;
  text-align: center;
}

section.footer p span {
  display: block;
}

.follow-us-foot-inner h5 {
  margin-bottom: 0px !important;
}

.padding-75px {
  padding-top: 40px;
}

.follow-us-foot-inner {
  display: inline-block;
  text-align: left;
}

.follow-us-foot {
  text-align: right;
}

.mobile-headmenu-bottom {
  display: none;
}
.navbar-light .navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
.close-menu {
  color: #000;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.navbar-expand-xl .navbar-collapse {
  justify-content: space-between;
}
.navbar-expand-xl .navbar-nav {
  gap: 45px;
}
.center-menu {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
section.header.is-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 16px rgb(0 0 0 / 23%) !important;
  backdrop-filter: blur(10px);
  animation: slideDown 0.6s ease-out;
  z-index: 999;
}
@keyframes slideDown {
  0% {
    transform: translateY(-90%);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 767.98px) {
  .follow-us-foot {
    text-align: left;
    margin-top: 20px;
  }

  section.footer .contain-width {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .follow-us-foot {
    text-align: left;
    margin-top: 20px;
  }

  section.footer .contain-width {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1199.98px) {
  .right-menu ul.last-menu-list {
    justify-content: flex-start;
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
  }

  .right-menu ul.last-menu-list li {
    margin: 0;
  }
  div#collapsibleNavbar {
    position: fixed;
    background: #fff;
    height: 100% !important;
    z-index: 999;
    transition: 0.5s;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: -100%;
    overflow-y: scroll;
  }
  section.header div#collapsibleNavbar {
    height: 850px !important;
  }
  .navbar-collapse.collapse.show {
    left: 0% !important;
    transition: 0.5s;
  }
  .close-menu {
    position: absolute;
    right: 10px;
    top: 18px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    text-decoration: none;
  }
  .center-menu ul.navbar-nav {
    align-items: initial;
    justify-content: flex-start;
    gap: 4px;
    margin-top: 50px;
  }
  .center-menu ul.navbar-nav li {
    border-top: 1px solid #efeded;
  }
  .center-menu ul.navbar-nav li,
  .right-menu ul.last-menu-list li {
    padding: 14px 15px 0;
  }
  .center-menu {
    display: block;
  }
  section.header.is-sticky {
    animation: none !important;
  }
}
@media (max-width: 1199.98px) {
  .mobile-headmenu-bottom {
    display: block;
  }

  .mobile-headmenu-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #02142a;
    border-radius: 10px 10px 0 0;
  }

  .mobile-headmenu-bottom ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .mobile-headmenu-bottom ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px !important;
    display: inline-block;
  }
  section.footer .contain-width {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile-headmenu-bottom ul li a span {
    font-size: 10px;
  }

  .mobile-headmenu-bottom ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
