section.banner-part {
  padding: 100px 0 80px;
}

section.banner-part h1 {
  font-weight: 700;
}

section.banner-part h3 {
  margin-top: 20px;
  color: #565d6d;
  margin-bottom: 0px;
}

section.banner-part p {
  color: #434d5a;
  font-size: 20px;
  margin: 40px 0;
}

/* .banner-right img {
    width: 100%;
} */

.banner-button a {
  text-decoration: none;
  background: #1e55b2;
  /* border: 2px solid #2240C4; */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  color: #fff;
  padding: 10px 25px;
  display: inline-block;
}
.banner-right {
  text-align: center;
  margin-top: -50px;
}
section.banner-part h1 span {
  color: #0047ff;
}
.banner-partner-intermediate-img img {
  width: 100%;
}

section.banner-partner-intermediate {
  margin-top: -370px;
  z-index: -1;
  position: relative;
}
section.partner-part .contain-width {
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 54px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
section.partner-part h2 {
  font-weight: 600;
}

.caret img {
  width: 35px;
  height: 35px;
  /* background: #bbbbbb; */
  /* border: 1px solid #bbbbbb; */
  border-radius: 50px;
  position: relative;
  top: 8px;
  margin-top: -18px;
  padding: 2px;
}
.dropdown-toggle::after {
  display: none;
}

.partner-left-part h2 {
  font-size: 48px;
  font-weight: 700 !important;
}

ul.partners-list {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 40px;
  border-left: 2px solid #0047ff;
}

ul.partners-list li {
  margin-bottom: 30px;
}

ul.partners-list li strong {
  font-size: 30px;
  width: 200px;
  display: flex;
}

ul.partners-list li {
  display: flex;
  align-items: center;
}

ul.partners-list li span {
  font-size: 20px;
}
section.partner-part {
  /*margin-top: -280px;*/
  margin-top: -485px;
}
.partner-left-part {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/partner-bg-left.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.block-1 .accrd-panel-body {
  display: none;
}

.block-1 .accrd-panel-body.active {
  display: block;
}

section.partner-part {
  position: relative;
}

section.partner-part .partner {
  position: absolute;
  height: 115%;
  top: -50px;
  z-index: -1;
}

section.partner-part .partner img {
  width: 100%;
  height: 100%;
}

section.joinng-team .contain-width {
  max-width: 750px;
  padding: 25px 40px;
  background: #0047ff;
  border-radius: 15px;
}

section.joinng-team p {
  margin: 0px;
  color: #fff;
  font-size: 20px;
}

section.joinng-team .contain-width .row {
  align-items: center;
}

section.joinng-team a {
  background: #ecf7f9;
  border-radius: 15px;
  padding: 24px 22px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

section.joinng-team {
  margin-top: 143px;
}

.inner-killer-feature {
  padding: 40px 20px 10px 20px;
  background: #ffffff;
  box-shadow: 2px 20px 50px rgba(0, 0, 0, 0.07);
  border-radius: 18px;
  margin-top: 50px;
  min-height: 365px;
}

.inner-killer-feature span {
  display: flex;
  width: 62px;
  height: 62px;
  background: #214497;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.inner-killer-feature h4 {
  margin: 25px 0;
  font-size: 25px;
  font-weight: 700;
}

.inner-killer-feature p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  /* or 156% */
  color: #565d6d;
}

section.killer-feature {
  padding: 100px 0;
}

section.killer-feature .contain-width {
  max-width: 1000px;
}

h2.killer-feature-head {
  color: #212529;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p.killer-feature-para {
  text-align: center;
  color: #434d5a;
  font-size: 18px;
  line-height: 28px;
}

h2.killer-feature-head span {
  color: #0047ff !important;
  font-size: 45px;
  font-weight: 700;
}

h2.killer-feature-head.cc-feature-head {
  text-align: left;
  color: #fff;
}

.cc-list-content {
  color: #fff;
  font-size: 19px;
}

.cc-feature-img img {
  width: 75%;
}

.cc-feature-img {
  display: flex;
  height: 100%;
  align-items: end;
  justify-content: center;
}

.gpay-android img {
  width: 200px;
  margin-top: 20px;
}

.gpay-android {
  text-align: center;
}

.join-the-winning-team-inner h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0px;
}

section.cc-feature {
  background: linear-gradient(45deg, #0f0f14 25%, #0047ff 100%);
  padding-top: 50px;
  padding-bottom: 80px;
}

.cc-feature-list {
  display: flex;
  gap: 20px;
  margin-bottom: 27px;
}

section.killer-feature.key-benefits-pyment h4 {
  color: #0047ff;
}

section.killer-feature.key-benefits-pyment .inner-killer-feature p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 147% */
  text-align: center;
  color: #434d5a;
}

section.killer-feature.key-benefits-pyment .inner-killer-feature {
  text-align: center;
}

.key-benefit-new-img .key-benefit-1 {
  text-align: center;
  margin-top: 80px;
}

.key-benefit-new-img .key-benefit-2 {
  text-align: center;
  margin-top: -182px;
}

.row.key-benefits-row {
  margin-top: -270px;
}

.row.key-benefits-row .col-xl-4.col-lg-4.col-md-6.col-sm-12:nth-child(2),
.row.key-benefits-row .col-xl-4.col-lg-4.col-md-6.col-sm-12:nth-child(5) {
  margin-top: 105px;
}

.join-win-team-block {
  padding: 75px 0;
  background: #0047ff;
  border-radius: 15px;
  position: relative;
  top: 100px;
}

.join-the-winning-team-img {
  height: 600px;
  position: relative;
  z-index: 9;
}

.join-the-winning-team-img img img {
  height: 600px;
}

.join-win-team-block::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  background: #0047ff;
  top: 0;
  left: -102px;
  z-index: -1;
}

.join-the-winning-team-inner h2 {
  color: #fff;
}

section.start-your-journey {
  padding: 100px 0;
  background: linear-gradient(45deg, #0f0f14 25%, #0047ff 100%);
}

section.start-your-journey h2.killer-feature-head,
section.start-your-journey p,
section.start-your-journey span {
  color: #fff;
}

section.start-your-journey span {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.start-your-journey-buttons {
  text-align: center;
  margin-top: 30px;
}

.start-your-journey-buttons button {
  margin: 30px 15px;
  background: linear-gradient(90.15deg, #5d7bfe 0.73%, #0974ff 100%);
  border-radius: 4px;
  padding: 15px 25px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

section.start-your-journey h2.killer-feature-head {
  max-width: 100%;
}

.contain-width.start-your-journey-contain {
  max-width: 660px;
}

section.join-the-winning-team {
  padding: 60px 0;
}

.join-win-team-block::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 100%;
  border-radius: 268px;
  background: rgba(110, 202, 254, 0.2);
  top: 0;
  left: 50%;
  margin-left: -170px;
}

section.faq-sectn h3 {
  color: #111111;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 45px;
}

section.faq-sectn .accrd-panel-head {
  background: #1e55b2;
  box-shadow: 2px 3px 26px rgba(240, 102, 10, 0.1);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  padding: 20px 50px;
  align-items: center;
  justify-content: space-between;
}

section.faq-sectn .accrd-panel-head h4 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0px;
}

section.faq-sectn .block-1 {
  margin-bottom: 20px;
}

section.faq-sectn span.mp-icon {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
}

section.faq-sectn .accrd-panel-head i {
  transition: all 0.3s ease-in-out;
}

section.faq-sectn .accrd-panel-head.active i {
  transform: rotate(90deg);
}

section.faq-sectn .accrd-panel-body p {
  margin-bottom: 0px;
  font-size: 16px;
  padding: 25px 40px;
}

section.faq-sectn .accrd-panel-body {
  background: linear-gradient(
      127.6deg,
      rgba(0, 84, 184, 0.23) 1.24%,
      rgba(0, 84, 184, 0) 73.3%
    ),
    rgba(255, 255, 255, 0.1);
  box-shadow: 2px 3px 26px rgba(0, 84, 184, 0.1);
}

section.faq-sectn .contain-width {
  max-width: 835px;
}

section#tech-modern {
  padding-bottom: 60px;
}

.inner-killer-feature {
  position: relative;
}

.inner-killer-feature::before {
  content: "";
  height: 100px;
  width: 100px;
  background: #244698;
  position: absolute;
  /* border-radius: 25px; */
  left: -2px;
  top: -2px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.inner-killer-feature::after {
  content: "";
  height: 100px;
  width: 100px;
  background: #244698;
  position: absolute;
  /* border-radius: 25px; */
  right: -2px;
  bottom: -2px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.inner-killer-feature:hover::before,
.inner-killer-feature:hover::after {
  opacity: 1;
}

@media (max-width: 991.98px) {
  section.partner-part .contain-width {
    padding: 15px;
  }

  section.banner-partner-intermediate {
    margin-top: -200px;
  }

  .banner-right {
    margin-top: 0px;
  }

  section.banner-part {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }

  section.killer-feature .contain-width,
  section.cc-feature .contain-width,
  .contain-width.start-your-journey-contain,
  .join-the-winning-team-inner .contain-width,
  section.faq-sectn .contain-width {
    padding-left: 15px;
    padding-right: 15px;
  }
  section.partner-part {
    margin-top: 0px;
  }

  .key-benefit-1 img,
  .key-benefit-2 img {
    width: 100%;
  }

  .row.key-benefits-row,
  .row.key-benefits-row .col-xl-4.col-lg-4.col-md-6.col-sm-12:nth-child(2),
  .row.key-benefits-row .col-xl-4.col-lg-4.col-md-6.col-sm-12:nth-child(5) {
    margin-top: 0;
  }
  .join-the-winning-team-img img {
    width: 100%;
  }

  .join-the-winning-team-img {
    height: auto;
    text-align: center;
  }
  .join-win-team-block::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 268px;
    background: rgba(110, 202, 254, 0.2);
    top: 0;
    left: 0;
    margin-left: 0;
  }
  .join-win-team-block {
    position: relative;
    top: 0;
    margin-top: 40px;
  }
  section.faq-sectn span.mp-icon {
    position: absolute;
    right: 25px;
  }

  .banner-right {
    text-align: center;
  }

  ul.partners-list li strong,
  ul.partners-list li span {
    width: 50%;
  }
  ul.partners-list {
    padding-left: 15px;
  }
  ul.partners-list li strong {
    white-space: pre-wrap;
    padding-right: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .key-benefit-1 img,
  .join-the-winning-team-img img,
  .banner-right img,
  .cc-feature-img img {
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  section.banner-part h1,
  section.banner-part h1 span {
    font-size: 45px;
  }

  section.banner-part h3,
  section.banner-part h3 span {
    font-size: 30px;
  }
}

@media (max-width: 1199.98px) {
  section.killer-feature .contain-width,
  section.cc-feature .contain-width,
  .contain-width.start-your-journey-contain,
  .join-the-winning-team-inner .contain-width,
  section.faq-sectn .contain-width {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  section.banner-part .contain-width {
    padding-left: 15px;
    padding-right: 15px;
  }

  section.partner-part {
    margin-top: 0;
  }
}

/* help center css */

.right.step-con h2,
.custom-support-con h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
}
.right.step-con h2.create {
  margin: 0;
}
.account-info {
  line-height: 34px;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin: 10px 0;
}
.account-info strong {
  font-weight: bolder;
}
.step-by-step.process {
  margin: auto;
  width: 950px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 26px;
}
.lp-element.process.even {
  background: rgba(247, 248, 250, 1);
}
.lp-element.process.odd {
  background: rgba(255, 255, 255, 1);
}
.lp-element.process {
  padding: 70px 0;
  width: 100%;
  /* height: 236px; */
}
.right.step-con ul li {
  list-style: none;
  position: relative;
  font-weight: 400;
  font-style: normal;
  color: rgb(96, 94, 115);
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 26px;
}

.right.step-con ul li::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background: #0047ff;
  border-radius: 50px;
  left: 0;
  top: 9px;
  margin-left: -30px;
}
.right.step-con ul li a,
p.testing-info a,
.explore-additional-features-con p a {
  font-weight: 400;
  font-style: normal;
  color: #0047ff;
}
.right.step-con ul {
  padding-left: 30px !important;
}

.right.step-con ul li span {
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 16px;
}
.right.step-con ul li p {
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin: 20px 0 15px;
}
p.testing-info {
  font-weight: 400;
  font-style: normal;
  color: rgb(96, 94, 115);
  font-size: 16px;
  line-height: 26px;
}
.explore-additional-features-con p {
  font-weight: 400;
  font-style: normal;
  color: rgb(96, 94, 115);
  font-size: 16px;
}
.explore-additional-features-con p span {
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 0, 0);
}
section.explore-additional-features,
section.custom-support {
  height: 500px;
  background: rgba(255, 255, 255, 1);
}
.explore-features-flex,
.custom-support-flex {
  max-width: 950px;
  margin: auto;
  display: flex;
  align-items: center;
}
.custom-support-con p {
  font-weight: 300;
  font-style: normal;
  color: rgb(96, 94, 115);
  font-size: 18px;
  margin: 30px 0;
  line-height: 32px;
}

.custom-support-con a {
  border-radius: 30px;
  z-index: 53;
  width: 230px;
  height: 56px;
  background: rgba(28, 96, 221, 1);
  box-shadow: none;
  text-shadow: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  padding: 15px;
}

.custom-support-con a:hover {
  background: rgba(117, 187, 255, 1);
  box-shadow: none;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #1279fd;
}
section.custom-support {
  height: 300px;
}
.custom-support-flex {
  gap: 10px;
}
.header-part-outer.is-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 16px rgb(0 0 0 / 23%) !important;
  backdrop-filter: blur(10px);
  animation: slideDown 0.6s ease-out;
  z-index: 999;
}
.inner-left-padding.sticky.is-sticky{
    position: fixed;
    top: 0;
    width: 16%;
    overflow-y: scroll;
    height: 100%;
}
.inner-left-padding.sticky.is-sticky::-webkit-scrollbar {
    width: 0px;
  }
  .inner-left-padding.sticky.is-sticky::-webkit-scrollbar-thumb {
    background: #2357b07c;
  }
  .inner-left-padding.sticky.is-sticky::-webkit-scrollbar-track {
    background: #c1daff00;
  }


@media (min-width: 768px) and (max-width: 991.98px) {
  .step-by-step.process,
  .explore-features-flex,
  .custom-support-flex {
    width: 671px;
  }
  .custom-support-con p {
    margin: 13px 0;
  }
}
.custom-support-con img {
  display: none;
}
.left.step-by-step.right.step-con h2 {
  display: none;
}
@media (max-width: 767px) {
  .step-by-step.process,
  .explore-features-flex,
  .custom-support-flex {
    width: auto;
  }
  .explore-features-flex,
  .custom-support-flex,
  .step-by-step.process {
    flex-direction: column;
  }
  .lp-element.process,
  section.explore-additional-features,
  section.custom-support {
    padding: 40px 20px;
  }
  .right.step-con h2 {
    display: none;
  }
  .left.step-by-step.right.step-con h2 {
    display: block;
  }
  .left.step-by-step.right.step-con {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .left.step-by-step.right.step-con h2 {
    font-size: 23px;
  }
  .step-by-step.process {
    gap: 10px;
  }
  .step-by-step-img img {
    width: 80px;
    height: 117px;
  }
  .explore-features-flex img {
    width: 190px;
    height: 280px;
  }
  section.custom-support {
    height: auto;
    margin: 60px 0;
    text-align: center;
  }
  img.illustration {
    display: none;
  }
  .custom-support-con img {
    display: block;
  }
}
/* help center css */
